<nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">북딱위키</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/w/random">랜덤문서</a></li>
            <li><a href="/w/recent">최근변경</a></li>
            <li><a class="dropdown-button" href="#" data-beloworigin="true" data-activates="dropdown1"><i class="material-icons">perm_identity</i></a></li>
            <ul id='dropdown1' class='dropdown-content'>
                <!--<li><a href="/auth/facebook">로그인</a></li>-->
                <li><a href="/auth/logout">로그아웃</a></li>
                <li class="divider"></li>
                <li class="setting"><a href="/auth/setting">설정</a></li>
                <li class="setting"><a href="#" class="background-kuro">어두운 화면</a></li>
            </ul>
        </ul>
        <ul class="side-nav right" id="mobile-demo">
            <li><a href="/w/random">랜덤문서</a></li>
            <li><a href="/w/recent">최근변경</a></li>
            <li class="divider"></li>
            <!--<li><a href="/auth/facebook">로그인</a></li>-->
            <li><a href="/auth/logout">로그아웃</a></li>
            <li><a href="/">회원가입</a></li>
            <li class="divider"></li>
            <li><a href="/auth/setting">설정</a></li>
            <li><a href="#" class="background-kuro">어두운 화면</a></li>
        </ul>
    </div>
</nav>
